/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) and (max-width: 768px) {
    .more-about-rect {
        display: flex;
        flex-direction: row;
        margin-top: 7%;
        padding: 1rem;
        max-width: 70rem;
        background-color: white;
        border-radius: 5px;
    }

    .more-about-row {
        display: flex;
        flex-direction: column;
    }

    .more-about-header {
        font-family: arial;
        font-weight: 600;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        padding-right: 1rem;
        color: lightgreen;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .more-about-rect {
        display: flex;
        flex-direction: row;
        margin-top: 7%;
        padding: 3rem;
        max-width: 70rem;
        background-color: white;
        border-radius: 5px;
    }

    .more-about-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .more-about-first-col, .more-about-second-col {
        width: 40%;
        margin-left: 1rem;
    }

    .more-about-header {
        font-family: arial;
        font-weight: 600;
        padding-right: 1rem;
        color: lightgreen;
    }
}


.more-about-wrapper {
    display: flex;
    justify-content: center;
}

.more-about-wrapper p {
    font-size: 1.3rem;
    line-height: 1.5rem;
}