.navbar-wrapper {
    display: flex;
    width: 100%;
    height: 2.5rem;
    justify-content: space-between;
    flex-direction: row;
    vertical-align: baseline;
    position: fixed;
    top: 0;
    padding-top: 2.5rem;
    background-color: white;
    transition: background-color 0.4s ease-out;
}

.title {
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.5rem;
    color: slategray;
    text-decoration: none;
    font-family: monospace;
}

.title:hover {
    color: lightpink;
}

.nav-list-button {
    margin-right: 1.5rem;
    z-index: 2;
    background-color: white;
    border: none;
}

.nav-list-button svg:hover {
    fill: lightgreen;
}

.nav-list-button:focus {
    outline:0;
}

.bi .bi-list {
    width: 5rem;
    height: 5rem;
}