.popup-wrapper {
    display: flex;
    flex-direction: row;
    width: 95vh;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    /* z-index: 1; */
}

.popup-left {
    border-right: 1px solid lightgray;
}

.popup-left, .popup-right {
    padding: 2rem;
    width: 50%;
}

.popup-right {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.popup-link {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem;
    color: lightslategray;
}

.popup-link:hover {
    color: lightpink;
}

.popup-right h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    color: gray;
}

.popup-right p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5rem;
    color: gray;
    text-align: center;
}

.me {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.social-media-links {
    display: flex;
    flex-direction: row;
}

.social-media-icon {
    margin: 1rem;
    color: gray;
}

.social-media-icon:hover {
    color: lightpink;
}